@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --backgroundColor: #E9D8A6;
    --textColor: #001219;
    --headerColor: #94D2BD;
    --hoverColor: #BB3E03;
}

li,
h1,
h2,
h3,
a,
p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--textColor);
    text-decoration: none;
}

body {
    background-color: var(--backgroundColor);
}


/* Nav Header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: var(--headerColor);
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: var(--hoverColor);
}

/* Common Styling */



/* About Me Section */

.aboutMe {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.aboutMe_header {
    padding: 1rem;
    margin-left: 5rem;

}

.aboutMe_header h2 {
    font-size: 36px;
    text-align: right;
}

hr {
    border: 1px solid var(--textColor);
    border-radius: 5px;
}

.aboutMe_content {
    padding: 1rem;
    margin-right: 5rem;
}

.aboutMe_content p {
    padding: .5rem;
}