@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  --backgroundColor: #e9d8a6;
  --textColor: #0f4c5c;
  --headerColor: #e36414;
  --hoverColor: #5f0f40;
}

li,
h1,
h2,
h3,
h4,
a,
p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--textColor);
  text-decoration: none;
}

body {
  background-color: var(--backgroundColor);
}

/* Nav Header */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: var(--headerColor);
}

.logo {
  margin-right: auto;
}

.logo img {
  height: 70px;
  width: auto;
}

.nav_links li {
  display: inline-block;
  padding: 0px 10px;
}

.nav_links li a {
  font-weight: 500;
  font-size: 24px;
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: var(--hoverColor);
}

/* Hero Image */
.hero_image {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url("./images/dhalgren_copy.jpg");

  height: 50vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero_text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero_text h1 {
  color: white;
  font-size: 3rem;
}

/* Common Styling */

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

main section {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 1rem;
  max-width: 1400px;
}

/* Common: Sidebar */
.section_header {
  /* The width when the sidebar _is_ a sidebar */
  flex-basis: 30%;
  flex-grow: 0;
  order: 0;
}

.section_header h2 {
  font-size: 36px;
  text-align: right;
}

hr {
  border: 1px solid var(--headerColor);
  border-radius: 5px;
}

/* Common: Content */

.section_content {
  display: flex;
  flex-basis: 69%;
  flex-grow: 0;
  /* Wrap when the header and content are equal width */
  min-inline-size: 50%;
  order: 1;
}

/* About Me Section */

.section_content p {
  padding: 0.5rem;
}

/* Work Section */

.work_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.card {
  position: relative;
  width: calc(45% - (2px+1rem));
  height: 350px;

  margin: 1rem;
}

.card:hover {
  box-shadow: 20px var(--hoverColor);
}

#priority_card {
  flex-basis: 100%;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border: solid 5px var(--hoverColor);
}

.card_description {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-top: 60px;
  background: var(--textColor);
  transition: all 0.7s ease 0s;
  cursor: pointer;
}

.card_description:hover {
  background: linear-gradient(to top, rgba(15, 76, 92, 0.85), transparent);
}

.card_description h4 {
  color: white;
  font-size: 24px;
  margin-top: 150px;
  padding: 15px;
}

.card_description p {
  color: white;
  font-size: 16px;
  padding: 15px;
}

/* Contact Footer */

.contact_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-shrink: 1;
}

.contact_container ul a {
  font-size: 24px;
}
